<template>
  <v-data-table
    :headers="headers"
    :items="appointment"
    :single-select="singleSelect"
    item-key="name"
    show-select
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Appointments</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <router-link to="/vue-bootstrap/">
              <v-btn color="#3699FF" dark class="mb-2" v-bind="attrs" v-on="on">
                Add New Appointment
              </v-btn>
            </router-link>
          </template>

          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.name"
                      label="FName"
                    ></v-text-field>
                  </v-col>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="LName" label="test"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.calories"
                      label="Email"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.fat"
                      label="Phone Number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.carbs"
                      label="Lead Type"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.protein"
                      label="Lead Source"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="editedItem.protein"
                    label="Lead Status"
                  ></v-text-field>
                </v-col>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">
                Cancel
              </v-btn>
              <v-btn color="blue darken-1" text @click="save">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <v-icon small @click="deleteItem(item)">
      mdi-delete
    </v-icon>
    <template v-slot:item.actions="{ item }">
      <v-icon small @click="deleteItem(item)">
        mdi-settings
      </v-icon>
      <v-icon small class="mr-2" @click="editItem(item)">
        mdi-pencil
      </v-icon>
      <v-icon small @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Appointment Title",
        align: "start",
        sortable: false,
        value: "title"
      },

      { text: "Appointment Date", value: "date" },
      { text: "Appointment Time", value: "time" },
      { text: "Appointment Status", value: "status" },
      { text: "Appointment Location", value: "location" },
      { text: "Appointment Agenda", value: "agenda" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    appointment: [],
    editedIndex: -1,
    editedItem: {
      title: "",

      date: 0,
      time: 0,
      status: 0,
      location: 0,
      agenda: 0
    },
    defaultItem: {
 title: "",

      date: 0,
      time: 0,
      status: 0,
      location: 0,
      agenda: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.appointment = [
        {
          title: "Organic",

          date: "24/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Contacted",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Organic",

          date: "24/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Contacted",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Organic",

          date: "24/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Contacted",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Organic",

          date: "24/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Contacted",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Organic",

          date: "24/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Contacted",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Organic",

          date: "24/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Contacted",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Organic",

          date: "24/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Contacted",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Organic",

          date: "24/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Contacted",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Organic",

          date: "31/01/2022",
          time: "Pacific Time(US & Canada)",
          status: "Online",
          location: "134 Baker St San 778 USA",
          agenda: "Tracking and testing"
        },
        {
          title: "Lead generation",

          date: "20/05/2022",
          time: "9:05 am-9:40am",
          status: "Online",
          location: "134 Baker St San 778 UK",
          agenda: "Sales Presentation"
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.appointment.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.appointment.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.appointment[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
