<template>
  <div class="card card-custom">
    <div class="card-body p-0">
      <!--begin: Wizard-->
      <div
        class="wizard wizard-1"
        id="kt_wizard_v1"
        data-wizard-state="step-first"
        data-wizard-clickable="true"
      >
        <!--begin: Wizard Nav-->
        <div class="wizard-nav border-bottom">
          <div class="wizard-steps p-8 p-lg-10">
            <div
              class="wizard-step"
              data-wizard-type="step"
              data-wizard-state="current"
            >
              <div class="wizard-label">
                <i class="wizard-icon flaticon-bus-stop"></i>
                <h3 class="wizard-title">1. Campaign Name</h3>
              </div>
              <i class="wizard-arrow flaticon2-next"></i>
            </div>
            <div class="wizard-step" data-wizard-type="step">
              <div class="wizard-label">
                <i class="wizard-icon flaticon-list"></i>
                <h3 class="wizard-title">2. Campaign Type</h3>
              </div>
              <i class="wizard-arrow flaticon2-next"></i>
            </div>
            <div class="wizard-step" data-wizard-type="step">
              <div class="wizard-label">
                <i class="wizard-icon flaticon-responsive"></i>
                <h3 class="wizard-title">3. Campaign Details</h3>
              </div>
              <i class="wizard-arrow flaticon2-next"></i>
            </div>
          </div>
        </div>
        <!--end: Wizard Nav-->

        <!--begin: Wizard Body-->
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
          <div class="col-xl-12 col-xxl-7">
            <!--begin: Wizard Form-->
            <form class="form" id="kt_form">
              <!--begin: Wizard Step 1-->
              <div
                class="pb-5"
                data-wizard-type="step-content"
                data-wizard-state="current"
              >
                <h3 class="mb-10 font-weight-bold text-dark">
                  Setup Your Campaign Name
                </h3>
                <div class="form-group">
                  <label>Campaign Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="  Name"
                    placeholder="Name"
                    value="Name"
                  />
                  <span class="form-text text-muted"
                    >Please enter Campaign name.</span
                  >
                </div>
              </div>
              <!--end: Wizard Step 1-->

              <!--begin::Wizard Step 2-->
              <div class="pb-5" data-wizard-type="step-content">
                <h4 class="mb-10 font-weight-bold text-dark">
                  Select Campaign Type
                </h4>

                <!--end::Input radio-->
                <div class="radio-list">
                  <label class="radio radio-lg mb-7">
                    <input type="radio" name="price" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      SMS
                    </div>
                  </label>
                  <label class="radio radio-lg mb-7">
                    <input type="radio" name="price" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Email
                    </div>
                  </label>
                  <label class="radio radio-lg mb-7">
                    <input type="radio" name="price" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Voicemail
                    </div>
                  </label>
                  <label class="radio radio-lg">
                    <input type="radio" name="price" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Letters
                    </div>
                  </label>
                  <label class="radio radio-lg">
                    <input type="radio" name="price" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Postcard
                    </div>
                  </label>
                  <label class="radio radio-lg">
                    <input type="radio" name="price" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Cold Call
                    </div>
                  </label>
                </div>

                <!--begin::Input-->

                <!--end::Input-->
                <div class="row">
                  <div class="col-xl-4">
                    <!--begin::Input-->

                    <!--end::Input-->
                  </div>
                  <div class="col-xl-4">
                    <!--begin::Input-->

                    <!--end::Input-->
                  </div>
                  <div class="col-xl-4">
                    <!--begin::Input-->

                    <!--end::Input-->
                  </div>
                </div>
              </div>
              <!--end::Wizard Step 2-->
              <!--begin: Wizard Step 3-->
              <div class="pb-5" data-wizard-type="step-content">
                <h4 class="mb-10 font-weight-bold text-dark">
                  Select SMS Services
                </h4>
                <!--begin::Select-->
                <div class="form-group">
                  <label> Caller Id</label>
                  <div class="col-lg-4 col-md-9 col-sm-12">
                    <select
                      class="form-control selectpicker"
                      multiple="multiple"
                      data-actions-box="true"
                    >
                      <option>Caller 23</option>
                      <option>Caller 45 </option>
                      <option>Caller 77</option>
                      <option>Caller 6</option>
                      <option>Caller 9</option>
                    </select>
                  </div>
                </div>
                <!--end::Select-->
                <!--begin::Select-->
                <div class="form-group">
                  <label>Send Campaign</label>
                  <select
                    name="packaging"
                    class="form-control form-control-solid form-control-lg"
                  >
                    <option value="">Send campgaign</option>
                    <option value="regular" selected="selected"
                      >send campaign 1</option
                    >
                    <option value="oversized">send campaign 2</option>
                    <option value="fragile">Send campgaign 3</option>
                    <option value="frozen">Send campaign 4</option>
                  </select>
                </div>
                <!--end::Select-->

                <!--begin::Select-->
                <div class="form-group">
                  <label>Campaign Message</label>
                  <input
                    type="text"
                    class="form-control form-control-solid form-control-lg"
                    name="Name"
                    placeholder="Name"
                    value="write campaign message"
                  />
                  <span class="form-text text-muted"
                    >Please enter your Campaign name.</span
                  >

                  <label class="checkbox checkbox-lg mb-7">
                    <input type="checkbox" name="electronics" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Existing Campaign message
                    </div>
                  </label>
                  <label>SMS Frequency per day</label>

                  <label class="checkbox checkbox-lg mb-7">
                    <input type="checkbox" name="electronics" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Message sent per day
                    </div>
                  </label>
                  <label class="checkbox checkbox-lg mb-7">
                    <input type="checkbox" name="electronics" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Message sent per number
                    </div>
                  </label>
                  <label class="checkbox checkbox-lg mb-7">
                    <input type="checkbox" name="electronics" />
                    <span></span>
                    <div class="font-size-lg text-dark-75 font-weight-bold">
                      Include Weekend
                    </div>
                  </label>
                  <label>Start Date</label>
                  <div class="input-group date">
                    <input
                      type="text"
                      class="form-control"
                      id="kt_datepicker_2"
                      readonly="readonly"
                      placeholder="Select date"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                      </span>
                    </div>
                  </div>
                  <label>Start Time</label>
                  <div
                    class="input-group date"
                    id="kt_datetimepicker_10"
                    data-target-input="nearest"
                  >
                    <input
                      type="text"
                      class="form-control datetimepicker-input"
                      placeholder="Select time"
                      data-target="#kt_datetimepicker_10"
                    />
                    <div
                      class="input-group-append"
                      data-target="#kt_datetimepicker_10"
                      data-toggle="datetimepicker"
                    >
                      <span class="input-group-text">
                        <i class="ki ki-calendar"></i>
                      </span>
                    </div>
                  </div>
                  <label>End Time</label>
                  <div
                    class="input-group date"
                    id="kt_datetimepicker_10"
                    data-target-input="nearest"
                  >
                    <input
                      type="text"
                      class="form-control datetimepicker-input"
                      placeholder="Select time"
                      data-target="#kt_datetimepicker_10"
                    />
                    <div
                      class="input-group-append"
                      data-target="#kt_datetimepicker_10"
                      data-toggle="datetimepicker"
                    >
                      <span class="input-group-text">
                        <i class="ki ki-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <!--end::Select-->
              </div>
             
              <div class="d-flex justify-content-between border-top pt-10">
                <div class="mr-2">
                  <button
                    class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-prev"
                  >
                    Previous
                  </button>
                </div>
                <div>
                  <button
                    v-on:click="submit"
                    class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-submit"
                  >
                    Submit
                  </button>
                  <button
                    class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-next"
                  >
                    Next Step
                  </button>
                </div>
              </div>
              <!--end: Wizard Actions -->
            </form>
            <!--end: Wizard Form-->
          </div>
        </div>
        <!--end: Wizard Body-->
      </div>
    </div>
    <!--end: Wizard-->
  </div>
</template>

<style lang="scss">
@import "@/assets/sass/pages/wizard/wizard-1.scss";
</style>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import KTUtil from "@/assets/js/components/util";
import KTWizard from "@/assets/js/components/wizard";
import Swal from "sweetalert2";

export default {
  name: "Wizard-1",
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Wizard" },
      { title: "Wizard-1" }
    ]);

    // Initialize form wizard
    const wizard = new KTWizard("kt_wizard_v1", {
      startStep: 1, // initial active step number
      clickableSteps: true // allow step clicking
    });

    // Validation before going to next page
    wizard.on("beforeNext", function(/*wizardObj*/) {
      // validate the form and use below function to stop the wizard's step
      // wizardObj.stop();
    });

    // Change event
    wizard.on("change", function(/*wizardObj*/) {
      setTimeout(() => {
        KTUtil.scrollTop();
      }, 500);
    });
  },
  methods: {
    submit: function(e) {
      e.preventDefault();
      Swal.fire({
        title: "",
        text: "The application has been successfully submitted!",
        icon: "success",
        confirmButtonClass: "btn btn-secondary"
      });
    }
  }
};
</script>
