<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Profile Information'">
          <template v-slot:preview>
            <v-card flat>
              <v-snackbar
                v-model="code6.snackbar"
                absolute
                top
                right
                color="success"
              >
                <span>Registration successful!</span>
                <v-icon dark>mdi-checkbox-marked-circle</v-icon>
              </v-snackbar>
              <v-form ref="form" @submit.prevent="submit">
                <v-container fluid>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="code6.form.first"
                        :rules="code6.rules.name"
                        color="purple darken-2"
                        label="First name"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="code6.form.last"
                        :rules="code6.rules.name"
                        color="blue darken-2"
                        label="Last name"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="code6.form.phone"
                        :rules="code6.rules.number"
                        color="purple darken-2"
                        label="Phone Number"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="code6.form.email"
                        :rules="code6.rules.email"
                        color="blue darken-2"
                        label="Email"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="code6.form.address"
                        :rules="code6.rules.streetaddress"
                        color="purple darken-2"
                        label="Mailing Street Address"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="code6.form.city"
                        :rules="code6.rules.mailingcity"
                        color="blue darken-2"
                        label="Mailing City"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="code6.form.state"
                        :rules="code6.rules.mailingstate"
                        color="purple darken-2"
                        label="Mailing State"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="code6.form.zip"
                        :rules="code6.rules.mailingzip"
                        color="blue darken-2"
                        label="Mailing Zip"
                        required
                      ></v-text-field>
                    </v-col>
                    <div class="col-lg-6">
                      <label>Lead Manager:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control border-1 form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Lead Manager</option
                          >
                          <option value="oversized">Lead Manager 1</option>
                          <option value="fragile">Lead Manager 2</option>
                          <option value="frozen">Lead Manager 3 </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label>General Notes:</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-6 font-size-lg font-weight-bolder min-h-80px"
                        name="memo"
                        rows="4"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>

                    <v-col cols="12" row="6">
                      <div
                        class="card card-custom gutter-b example example-compact"
                      >
                        <div class="card-header">
                          <h3 class="card-title">Lead Type/Source/Status</h3>
                          <div class="card-toolbar"></div>
                        </div>
                      </div>
                    </v-col>

                    <v-col cols="6" row="6">
                      <label>Lead Type:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >SELLER LEAD</option
                          >
                          <option value="oversized">PROBATE LEAD</option>
                          <option value="fragile">FORECLOUSRE LEAD</option>
                          <option value="frozen">MORTGAGE LEAD </option>
                          <option value="frozen">PRE-FORECLOURE LEAD </option>
                          <option value="frozen">BANKRUPCY </option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Lead Source:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >WEBSITE</option
                          >
                          <option value="oversized">CRAIGSLISTS LEAD</option>
                          <option value="fragile">DRIVE 4 DOLLAR</option>
                          <option value="frozen"
                            >SOCIAL MEDIA MARKETING
                          </option>
                          <option value="frozen">MAILERS/POSTCARDS</option>
                          <option value="frozen">ZILLOW FSBO</option>
                          <option value="frozen">REFERRAL LEAD</option>
                          <option value="frozen">REALTOR.COM</option>
                          <option value="frozen">MLS</option>
                          <option value="frozen">PROPSTREAM</option>
                        </select>
                      </div>
                    </v-col>

                    <v-col cols="6">
                      <label>Lead Status:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >NEW LEAD ADDED</option
                          >
                          <option value="oversized"
                            >DUE DILIGENCE REQUIRED</option
                          >
                          <option value="fragile">APPOINTMENT SCHEDULED</option>
                          <option value="frozen">APPOINTMENT COMPLETED </option>
                          <option value="frozen">OFFER CREATED</option>
                          <option value="frozen">OFFER SENT</option>
                          <option value="frozen">OFFER REJECTED</option>
                          <option value="frozen">OFFER ACCEPTED</option>
                          <option value="frozen">DEAL CREATED</option>
                          <option value="frozen">FINDING BUYER</option>
                          <option value="frozen"> BUYER FOUND</option>
                          <option value="frozen">DEAL CLOSED</option>
                          <option value="frozen">DEAD LEAD</option>
                          <option value="frozen">NON RESPONSIVE</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Temprature:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >HOT</option
                          >
                          <option value="oversized">WARM</option>
                          <option value="fragile">COLD</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="12" row="6">
                      <div
                        class="card card-custom gutter-b example example-compact"
                      >
                        <div class="card-header">
                          <h3 class="card-title">Next Action</h3>
                          <div class="card-toolbar"></div>
                        </div>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Task Assigned:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Task 1</option
                          >
                          <option value="oversized">Task 2</option>
                          <option value="fragile">Task 3</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Next Action:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >PERFORM DUE DILIGENCE</option
                          >
                          <option value="oversized">CALL SELLER</option>
                          <option value="fragile">OUT SOURCE TO SOMEONE</option>
                          <option value="fragile">VISIT PROPERLY</option>
                          <option value="fragile">PUT ON AUTO FOLLOWUP</option>
                          <option value="fragile">REPLY TO</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="12" row="6">
                      <div
                        class="card card-custom gutter-b example example-compact"
                      >
                        <div class="card-header">
                          <h3 class="card-title">Follow Up</h3>
                          <div class="card-toolbar"></div>
                        </div>
                      </div>
                    </v-col>
                    <v-col cols="6" row="6">
                      <div
                        class="card card-custom gutter-b example example-compact"
                      >
                        <div class="card-header">
                          <h3 class="card-title">Auto Follow Up</h3>
                          <div class="card-toolbar"></div>
                        </div>
                      </div>
                    </v-col>
                    <v-col cols="6" row="6">
                      <div
                        class="card card-custom gutter-b example example-compact"
                      >
                        <div class="card-header">
                          <h3 class="card-title">Manual Follow Up</h3>
                          <div class="card-toolbar"></div>
                        </div>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Follow Up Status:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >DOING AUTO FOLLOWUP</option
                          >
                          <option value="oversized"
                            >DOING MANUAL FOLLOWUP</option
                          >
                          <option value="fragile"
                            >FOLLOWUP STOPPED(RESPONCE RECEIVED)</option
                          >
                          <option value="fragile"
                            >FOLLOWUP STOPPED(MANUALLY)</option
                          >
                          <option value="fragile"
                            >FOLLOWUP COMPLETED(NO RESPONCE RECEIVED)</option
                          >
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Set Manual Follow Up:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >CONTACT MADE</option
                          >
                          <option value="oversized"
                            >FOLLOWUP AFTER ONE-DAY</option
                          >
                          <option value="fragile"
                            >FOLLOWUP AFTER TWO-DAYS</option
                          >
                          <option value="fragile"
                            >FOLLOWUP AFTER ONE-WEEK</option
                          >
                          <option value="fragile"
                            >FOLLOWUP AFTER TWO-WEEKS</option
                          >
                          <option value="fragile">NON RESPONSIVE</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Follow Up Template:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Template 1</option
                          >
                          <option value="oversized">Template 2</option>
                          <option value="fragile">Template3</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Manual Follow Up Type:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Email</option
                          >
                          <option value="oversized">SMS</option>
                          <option value="fragile">Persnol Meeting</option>
                          <option value="fragile">Call Back</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="3">
                      <label>Initiate Auto Follow Up:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >No(Not,Yet)</option
                          >
                          <option value="oversized"
                            >Yes-Put on Auto Follow Up</option
                          >
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="3">
                      <label>Stop Auto Follow Up:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Yes</option
                          >
                          <option value="oversized">No</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>Manual Follow Up Date</label>
                      <div class="input-group date">
                        <input
                          type="text"
                          class="form-control"
                          id="kt_datepicker_2"
                          readonly="readonly"
                          placeholder="Select date"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                          </span>
                        </div>
                      </div>
                    </v-col>

                    <v-col cols="6">
                      <label>Lead Follow Up:</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Lead 1</option
                          >
                          <option value="oversized">Lead 2</option>
                          <option value="fragile">Lead 3</option>
                        </select>
                      </div>
                    </v-col>

                    <v-col cols="12" row="6">
                      <div
                        class="card card-custom gutter-b example example-compact"
                      >
                        <div class="card-header">
                          <h3 class="card-title">Seller Questions</h3>
                          <div class="card-toolbar"></div>
                        </div>
                      </div>
                    </v-col>
                    <div class="col-lg-6">
                      <label>How did you hear about us?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>If bandit sign,what City/Zip code</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <v-col cols="6">
                      <label
                        >Are you the legal owner listed on the title of this
                        property?</label
                      >
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Yes</option
                          >
                          <option value="oversized">No</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label
                        >No, what is your interest in this transaction?</label
                      >
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"></option>
                        </select>
                      </div>
                    </v-col>
                    <div class="col-lg-6">
                      <label>Why are you selling?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>How soon you need the house sold?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <v-col cols="6">
                      <label
                        >Is the house listed with the real estate agent
                        already?</label
                      >
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Yes</option
                          >
                          <option value="oversized">No</option>
                        </select>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <label>If yes, How can we help you then?</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"></option>
                        </select>
                      </div>
                    </v-col>
                    <div class="col-lg-6">
                      <label>When does the listing agreement expire?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>Is the property a town home or condominium?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>What are the HOA fees?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>Are they up to date?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>If the the property vacant or rented?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>If rented how much is the rent ?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>How long has the property be rented for?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>Is the rental agreement available?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label
                        >What kind of repairs does this need to make it look
                        like hgtv condition?</label
                      >
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>
                        Is all the work completed on the property permitted by
                        the city?</label
                      >
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>How long ago was the work completed?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label
                        >How much are you asking for property? What is your
                        opinion or what's its worth?</label
                      >
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>How did you estimate that price?</label>
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>How long ago was the work completed?</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Yes</option
                          >
                          <option value="oversized">No</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <label
                        >Are you facing a possible short say or for pleasure on
                        this property?</label
                      >
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label
                        >Have you been issued a notice of the fault or a notice
                        of trustee sale?</label
                      >
                      <textarea
                        class="form-control border-1 form-control-lg pl-3 font-size-lg font-weight-bolder min-h-40px"
                        name="memo"
                        rows="2"
                        placeholder=""
                        id="kt_forms_widget_7_2_input"
                      ></textarea>
                    </div>
                    <div class="col-lg-6">
                      <label>How long ago was the work completed?</label>
                      <div class="input-group">
                        <select
                          name="packaging"
                          class="form-control form-control-lg form-control-lg"
                        >
                          <option value="regular" selected="selected"
                            >Yes</option
                          >
                          <option value="oversized">No</option>
                        </select>
                      </div>
                    </div>

                   

                    <v-col cols="12"> </v-col>
                  </v-row>
                </v-container>
                <v-card-actions>
                  <v-btn class="mb-3" v-bind="attrs" v-on="on">
                    Cancel
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="#3699FF"
                    dark
                    class="mb-3"
                    v-bind="attrs"
                    v-on="on"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
              </v-form>
              <v-dialog v-model="code6.terms" width="70%">
                <v-card>
                  <v-card-title class="title">Terms</v-card-title>
                  <v-card-text v-for="n in 5" :key="n">
                    {{ code6.content }}
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text color="purple" @click="code6.terms = false"
                      >Ok</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="code6.conditions" width="70%">
                <v-card>
                  <v-card-title class="title">Conditions</v-card-title>
                  <v-card-text v-for="n in 5" :key="n">
                    {{ code6.content }}
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text color="purple" @click="code6.conditions = false"
                      >Ok</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-card>
          </template>

          <template v-slot:html>
            {{ code6.html }}
          </template>
          <template v-slot:js>
            {{ code6.js }}
          </template>
        </KTCodePreview>
      </div>
    </div>
  </div>
</template>

<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

// code6
const defaultForm = Object.freeze({
  first: "",
  last: "",
  bio: "",
  favoriteAnimal: "",
  age: null,
  terms: false
});

export default {
  data() {
    return {
      code1: {
        html: `<v-form>
  <v-container>
  
      
  </v-container>
</v-form>`
      },

      code2: {
        html: `<v-form>
  <v-container>
   

      
  </v-container>
</v-form>`,
        js: `export default {
  data () {
    return {
      message1: 'Hey!',
      message2: 'Hey!',
      message3: 'Hey!',
      message4: 'Hey!',
    }
  },
}`,
        message1: "Hey!",
        message2: "Hey!",
        message3: "Hey!",
        message4: "Hey!"
      },

      code3: {
        html: `<v-form>
  <v-container>
    
  </v-container>
</v-form>`,
        js: `export default {
  data () {
    return {
      title: 'Preliminary report',
      description: 'California is a state in the western United States',
      rules: [v => v.length <= 25 || 'Max 25 characters'],
    }
  },
}`,
        title: "Preliminary report",
        description: "California is a state in the western United States",
        rules: [v => v.length <= 25 || "Max 25 characters"]
      },

      code4: {
        html: `<div>
  <v-text-field label="Main input" :rules="rules" hide-details="auto"></v-text-field>
  <v-text-field label="Another input"></v-text-field>
</div>`,
        js: `export default {
  data: () => ({
    rules: [
      value => !!value || 'Required.',
      value => (value && value.length >= 3) || 'Min 3 characters',
    ],
  }),
}`,
        rules: [
          value => !!value || "Required.",
          value => (value && value.length >= 3) || "Min 3 characters"
        ]
      },

      code5: {
        html: `<v-form>
  
  </v-container>
</v-form>`,
        js: `export default {
  data () {
    return {
      show1: false,
      show2: true,
      show3: false,
      show4: false,
      password: 'Password',
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => ('The email and password you entered don\\'t match'),
      },
    }
  },
}`,
        show1: false,
        show2: true,
        show3: false,
        show4: false,
        password: "Password",
        rules: {
          required: value => !!value || "Required.",
          min: v => v.length >= 8 || "Min 8 characters",
          emailMatch: () => "The email and password you entered don't match"
        }
      },

      code6: {
        html: `<v-card flat>
  <v-snackbar
    v-model="snackbar"
    absolute
    top
    right
    color="success"
  >
    <span>Registration successful!</span>
    <v-icon dark>mdi-checkbox-marked-circle</v-icon>
  </v-snackbar>
  <v-form ref="form" @submit.prevent="submit">
    <v-container fluid>
      <v-row>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.first"
            :rules="rules.name"
            color="purple darken-2"
            label="First name"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.last"
            :rules="rules.name"
            color="blue darken-2"
            label="Last name"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.phone"
            :rules="rules.number"
            color="purple darken-2"
            label="First name"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.email"
            :rules="rules.email"
            color="blue darken-2"
            label="email"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.streetaddress"
            :rules="rules.streetaddress"
            color="purple darken-2"
            label="Street Address"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.city"
            :rules="rules.city"
            color="blue darken-2"
            label="Mailing City"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.state"
            :rules="rules.state"
            color="purple darken-2"
            label="Mailing State"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.zip"
            :rules="rules.zip"
            color="blue darken-2"
            label="Mailing Zip"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.bio"
            color="teal"
          >
            <template v-slot:label>
              <div>
                Bio
              </div>
            </template>
          </v-textarea>
        </v-col>




       
        <v-col cols="12">
          <v-checkbox
            v-model="form.terms"
            color="green"
          >
            <template v-slot:label>
              <div @click.stop="">
                Do you accept the
                <a href="javascript:;" @click.stop="terms = true">terms</a>
                and
                <a href="javascript:;" @click.stop="conditions = true">conditions?</a>
              </div>
            </template>
          </v-checkbox>
        </v-col>
      </v-row>
    </v-container>
    <v-card-actions>
      <v-btn text @click="resetForm">Cancel</v-btn>
      <v-spacer></v-spacer>
      <v-btn
        :disabled="!formIsValid"
        text
        color="primary"
        type="submit"
      >Register</v-btn>
    </v-card-actions>
  </v-form>
  <v-dialog v-model="terms" width="70%">
    <v-card>
      <v-card-title class="title">Terms</v-card-title>
      <v-card-text v-for="n in 5" :key="n">
        {{ content }}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          text
          color="purple"
          @click="terms = false"
        >Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="conditions" width="70%">
    <v-card>
      <v-card-title class="title">Conditions</v-card-title>
      <v-card-text v-for="n in 5" :key="n">
        {{ content }}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          text
          color="purple"
          @click="conditions = false"
        >Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-card>`,
        js: `export default {
  data () {
    const defaultForm = Object.freeze({
      first: '',
      last: '',
      bio: '',
      favoriteAnimal: '',
      age: null,
      terms: false,
    })

    return {
      form: Object.assign({}, defaultForm),
      rules: {
        age: [
          val => val < 10 || \`I don't believe you!\`,
        ],
        animal: [val => (val || '').length > 0 || 'This field is required'],
        name: [val => (val || '').length > 0 || 'This field is required'],
      },
      animals: ['Dog', 'Cat', 'Rabbit', 'Turtle', 'Snake'],
      conditions: false,
      content: \`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
      Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
      Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.\`,
      snackbar: false,
      terms: false,
      defaultForm,
    }
  },

  computed: {
    formIsValid () {
      return (
        this.form.first &&
        this.form.last &&
        this.form.favoriteAnimal &&
        this.form.terms
      )
    },
  },

  methods: {
    resetForm () {
      this.form = Object.assign({}, this.defaultForm)
      this.$refs.form.reset()
    },
    submit () {
      this.snackbar = true
      this.resetForm()
    },
  },
}`,
        form: Object.assign({}, defaultForm),
        rules: {
          age: [val => val < 10 || `I don't believe you!`],
          animal: [val => (val || "").length > 0 || "This field is required"],
          name: [val => (val || "").length > 0 || "This field is required"]
        },
        animals: ["Dog", "Cat", "Rabbit", "Turtle", "Snake"],
        conditions: false,
        content: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
      Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
      Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.`,
        snackbar: false,
        terms: false,
        defaultForm
      }
    };
  },
  components: {
    KTCodePreview
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Vuetify", route: "alerts" },
      { title: "Form Inputs & Control", route: "autocompletes" },
      { title: "Text Fields" }
    ]);
  },

  computed: {
    // code6
    formIsValid() {
      return (
        this.code6.form.first &&
        this.code6.form.last &&
        this.code6.form.favoriteAnimal &&
        this.code6.form.terms
      );
    }
  },

  methods: {
    // code6
    resetForm() {
      this.code6.form = Object.assign({}, this.code6.defaultForm);
      this.$refs.form.reset();
    },
    submit() {
      this.code6.snackbar = true;
      this.resetForm();
    }
  }
};
</script>
