<template>
  <v-data-table
    :headers="headers"
    :items="sellerlead"
    :single-select="singleSelect"
    item-key="name"
    show-select
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Seller Leads</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <router-link to="/vue-bootstrap/sellerleadform">
              <v-btn color="#3699FF" dark class="mb-2" v-bind="attrs" v-on="on">
                Add New Lead
              </v-btn>
            </router-link>
          </template>

          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.name"
                      label="FName"
                    ></v-text-field>
                  </v-col>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="LName" label="test"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.calories"
                      label="Email"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.fat"
                      label="Phone Number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.carbs"
                      label="Lead Type"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.protein"
                      label="Lead Source"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="editedItem.protein"
                    label="Lead Status"
                  ></v-text-field>
                </v-col>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">
                Cancel
              </v-btn>
              <v-btn color="blue darken-1" text @click="save">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <v-icon small @click="deleteItem(item)">
      mdi-delete
    </v-icon>
    <template v-slot:item.actions="{ item }">
      <v-icon small @click="deleteItem(item)">
        mdi-settings
      </v-icon>
      <v-icon small class="mr-2" @click="editItem(item)">
        mdi-pencil
      </v-icon>
      <v-icon small @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "FName",
        align: "start",
        sortable: false,
        value: "name"
      },
      {
        text: "LName",
        align: "start",
        sortable: false,
        value: "lname"
      },
      { text: "Email", value: "email" },
      { text: "Phone", value: "phone" },
      { text: "Lead Type", value: "leadtype" },
      { text: "Lead Source", value: "leadsource" },
      { text: "Lead Status", value: "leadstatus" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    sellerlead: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      lname: "",
      email: 0,
      phone: 0,
      leadtype: 0,
      leadsource: 0,
      leadstatus: 0
    },
    defaultItem: {
 name: "",
      lname: "",
      email: 0,
      phone: 0,
      leadtype: 0,
      leadsource: 0,
      leadstatus: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.sellerlead = [
        {
          name: "William",
          lname: "Json",
          email: "json89@gmail.com",
          phone: 766879898,
          leadtype: "Sellerlead",
          leadsource: "Website",
          leadstatus: "New Lead Added"
        },
        {
          name: "Anderson",
          lname: "Archer",
          email: "Archer89@gmail.com",
          phone: 65768779,
          leadtype: "Mortage Lead",
          leadsource: "Drive 4 Dollar",
          leadstatus: "Dead Lead"
        },
        {
          name: "William",
          lname: "Smith",
          email: "smith89@gmail.com",
          phone: 766466898,
          leadtype: "Sellerlead",
          leadsource: "Website",
          leadstatus: "New Lead Added"
        },
        {
          name: "Anderson",
          lname: "Jofra",
          email: "Archer89@gmail.com",
          phone: 65768779,
          leadtype: "Mortage Lead",
          leadsource: "Drive 4 Dollar",
          leadstatus: "Dead Lead"
        },
        {
          name: "William",
          lname: "John",
          email: "json89@gmail.com",
          phone: 76685678,
          leadtype: "Sellerlead",
          leadsource: "Website",
          leadstatus: "New Lead Added"
        },
        {
          name: "Jack",
          lname: "Hobbes",
          email: "hobbes79@gmail.com",
          phone: 657899009,
          leadtype: "Mortage Lead",
          leadsource: "Drive 4 Dollar",
          leadstatus: "Dead Lead"
        },
        {
          name: "William",
          lname: "Json",
          email: "json89@gmail.com",
          phone: 766879898,
          leadtype: "Sellerlead",
          leadsource: "Website",
          leadstatus: "New Lead Added"
        },
        {
          name: "Anderson",
          lname: "Archer",
          email: "Archer89@gmail.com",
          phone: 65768779,
          leadtype: "Mortage Lead",
          leadsource: "Drive 4 Dollar",
          leadstatus: "Dead Lead"
        },
        {
          name: "Botham",
          lname: "Lan",
          email: "json89@gmail.com",
          phone: 766879898,
          leadtype: "Sellerlead",
          leadsource: "Website",
          leadstatus: "New Lead Added"
        },
        {
          name: "Kevin",
          lname: "Archer",
          email: "kevin89@gmail.com",
          phone: 65768789,
          leadtype: "Mortage Lead",
          leadsource: "Drive 4 Dollar",
          leadstatus: "Dead Lead"
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.sellerlead.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.sellerlead.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
