<template>
  <v-data-table
    :headers="headers"
    :items="campaigns"
    sort-by="calories"
    :single-select="singleSelect"
    item-key="name"
    show-select
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Campaigns</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <router-link to="/vue-bootstrap/campaignsform">
              <v-btn color="#3699FF" dark class="mb-2" v-bind="attrs" v-on="on">
                Add New Campaign
              </v-btn>
            </router-link>
          </template>

          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.name"
                      label="FName"
                    ></v-text-field>
                  </v-col>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="LName" label="test"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.calories"
                      label="Email"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.fat"
                      label="Phone Number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.carbs"
                      label="Lead Type"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.protein"
                      label="Lead Source"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="editedItem.protein"
                    label="Lead Status"
                  ></v-text-field>
                </v-col>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">
                Cancel
              </v-btn>
              <v-btn color="blue darken-1" text @click="save">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <v-icon small @click="deleteItem(item)">
      mdi-delete
    </v-icon>
    <template v-slot:item.actions="{ item }">
      <v-icon small @click="deleteItem(item)">
        mdi-settings
      </v-icon>
      <v-icon small class="mr-2" @click="editItem(item)">
        mdi-pencil
      </v-icon>
      <v-icon small @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: " Id",
        align: "start",
        sortable: false,
        value: "id"
      },

      { text: " Name", value: "name" },
      { text: " Type", value: "type" },
      { text: "List", value: "list" },
      { text: "Start Date", value: "startdate" },
      { text: "End Date", value: "enddate" },
      { text: "Start Time", value: "starttime" },
      { text: "End Time", value: "endtime" },
      { text: "Caller Id", value: "callerid" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    campaigns: [],
    editedIndex: -1,
    editedItem: {
      id: "",

      name: 0,
      type: 0,
      list: 0,
      startdate: 0,
      enddate: 0,
      starttime: 0,
      endtime: 0,
      callerid: 0
    },
    defaultItem: {
      name: 0,
      type: 0,
      list: 0,
      startdate: 0,
      enddate: 0,
      starttime: 0,
      endtime: 0,
      callerid: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.campaigns = [
        {
          id: "1",

          name: "my first campaign",
          type: "Lead Generation",
          list: "Contacted",
          startdate: "23/01/2022",
          enddate: "02/02/2022",
          starttime: "9:40 am",
          endtime: "12:30 pm",
          callerid: "73"
        },
        {
          id: "2",

          name: "Campaign 2",
          type: "Sales",
          list: "Contacted",
          startdate: "20/01/2022",
          enddate: "07/02/2022",
          starttime: "10:40 am",
          endtime: "1:30 pm",
          callerid: "83"
        },
        {
          id: "3",

          name: "Campaign 3",
          type: "Website traffic",
          list: "Contacted",
          startdate: "23/01/2022",
          enddate: "02/02/2022",
          starttime: "11:30 am",
          endtime: "2:30 pm",
          callerid: "03"
        },
        {
          id: "4",

          name: "Campaign 3",
          type: "App promotion",
          list: "Online",
          startdate: "28/01/2022",
          enddate: "15/02/2022",
          starttime: "3:40 pm",
          endtime: "6:30 pm",
          callerid: "65"
        },
        {
          id: "5",

          name: "Campaign 4",
          type: "Sales",
          list: "Contacted",
          startdate: "29/01/2022",
          enddate: "10/02/2022",
          starttime: "10:00 am",
          endtime: "12:00 pm",
          callerid: "93"
        },
        {
          id: "6",

          name: "Campaign 5",
          type: "Bramd reach",
          list: "Contacted",
          startdate: "24/02/2022",
          enddate: "06/03/2022",
          starttime: "1:00 pm",
          endtime: "3:30 pm",
          callerid: "13"
        },
        {
          id: "7",

          name: "Campaign 6",
          type: "Product consideration",
          list: "Contacted",
          startdate: "23/03/2022",
          enddate: "02/04/2022",
          starttime: "10:00 am",
          endtime: "12:30 pm",
          callerid: "88"
        },
        {
          id: "8",

          name: "Campaign 7",
          type: "Pacific Time(US & Canada)",
          list: "Contacted",
          startdate: "23/01/2022",
          enddate: "02/02/2022",
          starttime: "11:40 am",
          endtime: "2:30 pm",
          callerid: "79"
        },
        {
          id: "9",

          name: "Campaign 8",
          type: "Engagment",
          list: "Contacted",
          startdate: "28/01/2022",
          enddate: "09/02/2022",
          starttime: "11:40 am",
          endtime: "1:30 pm",
          callerid: "03"
        },
        {
          id: "Campaign 9",

          name: "my seller",
          type: "App installs",
          list: "Online",
          startdate: "25/01/2022",
          enddate: "02/03/2022",
          starttime: "11:30 am",
          endtime: "1:30 pm",
          callerid: "63"
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.campaigns.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.campaigns.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.campaigns.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.campaigns[this.editedIndex], this.editedItem);
      } else {
        this.campaigns.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
